/* https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    height: 100%;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    /* background-color: transparent; */
    /* background: none; */
    cursor: pointer;
    /* border: none; */
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: 500;
}
h3 {
    font-size: 1.6em;
}
#root, #__next {
    isolation: isolate;
}
table {
    border-spacing: 0;
}